#mapContainer {
    width: 100%;
    height: 600px;
}
#map {
    height: 100%;
    width: 100%;
}
#mapCheckboxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#mapCheckboxes h1 {
    width: 100%;
}
#mapCheckboxes > div {
    width: 25%;
}
#snack {
    position: relative;
}

#events {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    top: 70px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

#events h3{
    color: whitesmoke;
    margin: 5px 0;
}

#vr {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}