html, body {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 2em;
    flex: 1;
    text-align: center;
    border-radius: 2px;
}

a:hover {
    background-color: rgba(107,191,89,0.9);
}

a:active {
    background-color: transparent;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#navBar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0;
    background-color: rgba(107,191,89,0.9);
    color: whitesmoke;
}

.snackbar {
    opacity: 0;
    z-index: 999999;
    background-color: rgba(107,191,89,0.9);
    webkit-transition: opacity 0.5s, bottom 4s;
    transition: opacity 0.5s, bottom 4s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    width: 600px;
    border-radius: 2px;
    color: whitesmoke;
    bottom: -50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

.snackbartext {
    padding-bottom: 5px;
}

.snackbarbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.snackbarbutton {
    outline: none;
    background: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 2px;
}

.snackbarbutton:hover {
    box-shadow: 2px 1px 0px whitesmoke;
    transform: translate(-2px, -2px);
}

.snackbarbutton:active {
    box-shadow: none;
    transform: none;
}

.show-bottom {
    opacity: 1;
    bottom: 20px;
}

.bottom-center {
    right: 0;
    left: 0;
}

.bottom-left {
    left: 20px;
}

.bottom-right {
    right: 20px;
}

.mainContainer {
    position: fixed;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    height: 100%;
    width: 100%;
    font-size: 2em;
}
.mainContainer h1 {
    margin-bottom: 0px;
    
}
.mainContainer h2 {
    color: #e2e2e2;
    font-size: 1em;
}
